name: 'LinksforAll::Unit test'
on:
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
    - uses: actions/checkout@v4
    - name: 'Install Node'
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'

    - name: 'Install Deps'
      run: npm install

    - name: Set fake DATABASE_URL
      run: echo "DATABASE_URL=\"file:./dev.db\"" >> .env

    - name: Generate Prisma Client
      run: npx prisma generate

    - name: 'Test'
      run: npx vitest --coverage.enabled true

    - name: 'Report Coverage'
      if: always()
      uses:  davelosert/vitest-coverage-report-action@v2
